.Hero_container {
  background: url("/public/images/image-hero.jpg");
  padding: 20px;
  background-position: 50%;
  background-size: cover;
  height: 550px;
  position: relative;
}

.hero_tag {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5rem;
  border: 3px solid white;
  width: 20%;
  padding: 20px;
  position: absolute;
  left: 10%;
  top: 50%;
}

@media screen and (max-width: 720px) {
  .Hero_container {
  }

  .hero_tag {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: xx-large;
    border: 2px solid white;
    width: 200px;
    padding: 20px;
    position: absolute;
  }
}
